<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Students</title>
  <link rel="stylesheet" href="/css/lesson_css.css">
</head>
<body>
<h1>Students</h1>
<a href="/lesson/add">Add</a>
<table border="1">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Prise</th>
    <th>Action</th>
  </tr>

  <tr th:each="lesson : ${lessons}">
    <td th:text="${lesson.getId()}"></td>
    <td th:text="${lesson.getTitle()}"></td>
    <td th:text="${lesson.getDuration()}"></td>
    <td th:text="${lesson.getPrice()}"></td>
    <td>
      <a th:href="@{/lesson/delete(id=${lesson.getId()})}">Delete</a> /
      <a th:href="@{/lesson/edit(id=${lesson.getId()})}">Edit</a>
    </td>
  </tr>
</table>
</body>
</html>
